{% extends "base.html" %}

{% block content %}
  <div class="custom-page-shell md-content__inner md-typeset">
    <div class="page-body">
      {% if "material/tags" in config.plugins and tags %}
        {% include "partials/tags.html" %}
      {% endif %}
      {% include "partials/actions.html" ignore missing %}
      {% include "partials/page-body.html" %}
    </div>

    <footer class="page-footer-block">
      {% include "partials/source-file.html" ignore missing %}
      {% include "partials/feedback.html" ignore missing %}
      {% include "partials/comments.html" ignore missing %}
    </footer>
  </div>
{% endblock %}
